 @charset "utf-8";
/* CSS Document */

@import url(http://fonts.googleapis.com/css?family=Pathway+Gothic+One);

.well {
    background-color: rgba(245, 245, 245, 0.5);
}
.badge {
    font-size: 30px;
    background-color: rgb(0, 175, 225);
}

a{
	color: #ccd500;
	text-decoration: none;
}
a:hover{
	text-decoration: underline;
	color: #a9b119;
}
.clear {
    clear: both;
}
html, body{
    position: relative;
    height: 100%;
}
body {
}
b{
	font-weight: 600;
}

h1{
	width: 100%;
	font-size: 20px;
    color: #fff;
	margin-bottom: 25px;
}

#randomize {
    height: 100%;
    background-color: #645346;
    border-top: 10px solid #3E6B48; 
    border-bottom: 10px solid #3E6B48;
}

#randomize .row > div.col-xs-4 {
    padding-left: 35px;
}

#randomize .row > div.col-xs-4 > div {
    padding-top: 40px;
    padding-left: 40px;
    width: 175px;
    height: 175px;
    background-color: #fff;
    border-radius: 50%;
    margin: auto;
}

.randomizeMachine {
    width: 100px;
    height: 100px;
}

#goButton {
    border-color: #DBD0CA;
    background-color: #DBD0CA;
}

.btn-group-randomize {
    margin: 0 auto;
    margin-top: 30px;
    width: auto;
}

.btn-group-randomize div {
    width: auto !important;
}

.machineResult{
	color:#fff;
	text-align:center;
	font-weight: 900;
}
